body {
    background-color: rgb(250, 230, 204);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.titlebox{
    border: 1px solid black;
    display: inline-block;
    padding: 1em;
}

h1 {
    background-color: tan;
    text-align: center;
    width: 400px;
}

.linklist {
    color: black;
    font-weight: 200;
    background-color: rgb(243, 213, 174);
    width: 400px;
    padding: 1em;
}


/* LINK FORMATTING */
a:link {
    color: black;
}

a:visited  {
    color: grey;
}

a:hover {
    color: white;
}

